::ng-deep .custom-checkbox .mdc-checkbox {
  --mdc-checkbox-selected-checkmark-color: white;
  --mdc-checkbox-selected-focus-icon-color: #10b981;
  --mdc-checkbox-selected-hover-icon-color: #10b981;
  --mdc-checkbox-selected-icon-color: #10b981;
  --mdc-checkbox-selected-pressed-icon-color: #10b981;
}

::ng-deep .mat-mdc-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: white;
}

::ng-deep .mat-mdc-chip {
  min-height: 24px !important;
  height: 24px !important;
  font-size: 12px !important;
}

::ng-deep .mat-mdc-chip .mat-mdc-chip-remove {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

::ng-deep .mat-mdc-chip .mat-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
}

.custom-checkbox {
  margin-right: 16px;
}

::ng-deep .mat-mdc-outlined-button {
  border-color: #d1d5db;
  color: #374151;
}

::ng-deep .mat-mdc-outlined-button:hover {
  background-color: #f9fafb;
}
